@import "./scssfiles/mixins";
@import "./scssfiles/variables";
/* Start global rules */
* {
  padding: 0;
  margin: 0;
  font: inherit;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  display: inline-block;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: $dark-blue;
  position: relative;
  transition: background-color $transition-timing ease;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-image: url(../images/bg-desktop-dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image $transition-timing ease;
    z-index: -1;
  }
  &.light__theme {
    background-color: $light-gray;
  }
  &.light__theme::before {
    background-image: url(../images/bg-desktop-light.jpg);
  }
  &.light__theme .text {
    color: $dark-gray-blue-light;
  }
  &.light__theme .header__button {
    background-image: url(../images/icon-moon.svg);
  }
  &.light__theme .addTodo,
  &.light__theme .showTodo {
    background-color: $white;
  }
  &.light__theme .showTodo {
    box-shadow: $light-shadow;
    &__empty {
      color: $dark-gray-blue-light;
    }
  }
  &.light__theme .showTodo__control-button {
    &:hover {
      color: $dark-blue;
    }
    &.active {
      color: $blue;
      opacity: 1;
    }
  }
  @include respond-to("mobile") {
    &::before {
      background-image: url(../images/bg-mobile-dark.jpg);
    }
    &.light__theme::before {
      background-image: url(../images/bg-mobile-light.jpg);
    }
  }
}
.container {
  height: auto;
  margin: 0 auto;
  @include respond-to("desktop") {
    width: 50%;
  }
  @include respond-to("tablet") {
    width: 70%;
  }
  @include respond-to("mobile") {
    width: 100%;
    padding: 0 2rem;
    // margin: 0 2rem;
  }
}
.text {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: inherit;
  color: $gray-blue;
  &.completed__text {
    text-decoration: line-through;
  }
  @include respond-to("mobile") {
    font-size: 1.6rem;
  }
}

.circle {
  border-radius: 50%;
  border: 0.1rem solid $gray-blue;
  width: 2rem;
  height: 2rem;
  transition: border-color $transition-timing ease;
  border-radius: 1rem;
  &:hover {
    border-color: $hover-border;
  }
  &.completed {
    background-image: $circle-background;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.completed::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: linear-gradient(to bottom right, $blue, $grayish-blue);
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  &__logo {
    color: $white;
    letter-spacing: 1rem;
    font-size: 3.5rem;
    font-weight: bold;
  }
  &__button {
    width: 3rem;
    height: 3rem;
    background-image: url(../images/icon-sun.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image $transition-timing ease;
  }
}
.addTodo {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: $desaturated-blue;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 2rem;
  transition: background-color $transition-timing ease;
  &__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
  }
}
.showTodo {
  background-color: $desaturated-blue;
  box-shadow: $dark-shadow;
  border-radius: 0.5rem;
  transition: background-color $transition-timing ease;
  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    border-bottom: solid $light-gray-blue 0.1rem;
    &-task {
      padding: 2rem 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        background-image: url(../images/icon-cross.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 2rem;
        width: 2rem;
        opacity: 0;
        transition: opacity $transition-timing ease;
      }
      &:hover button {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    &-total {
      opacity: 50%;
    }
    &-buttons {
      display: flex;
      gap: 1rem;
    }
    &-button {
      opacity: 50%;
      color: $gray-blue;
      transition: color $transition-timing ease, opacity $transition-timing ease;
      &:hover {
        opacity: 1;
        color: white;
      }
      &.active {
        color: $blue;
        opacity: 1;
      }
      @include respond-to("mobile") {
        font-size: 1rem;
      }
    }
  }
  &__empty {
    font-size: 3.5rem;
    font-weight: bold;
    color: $white;
    text-align: center;
  }
}
.label {
  text-align: center;
  margin-top: 5rem;
}
